<div class="group-grid">
  <div class="grid grid-pad">
    <a   class="col-1-4">
      <div class="module hero">
        <h4>Kiran</h4>
      </div>
    </a>
  </div>
  <div class="grid grid-pad" [routerLink]="['/news']">
    <a   class="col-1-4">
      <div class="module hero">
        <h4>Kiran</h4>
      </div>
    </a>
  </div>
  <div class="grid grid-pad">
    <a   class="col-1-4">
      <div class="module hero">
        <h4>Kiran</h4>
      </div>
    </a>
  </div>
  <div class="grid grid-pad">
    <a   class="col-1-4">
      <div class="module hero">
        <h4>Kiran</h4>
      </div>
    </a>
  </div>
</div>
